<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <description>Plataforma SotaYRey</description>
    <display-name>SotaYRey</display-name>

    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>servlet.RegistroServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/RegistroServlet.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConsultaStats</servlet-name>
        <servlet-class>servlet.ConsultaPerfilServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConsultaStats</servlet-name>
        <url-pattern>/PerfilServlet.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>MostrarObjetosTienda</servlet-name>
        <servlet-class>servlet.MostrarObjetosTiendaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MostrarObjetosTienda</servlet-name>
        <url-pattern>/MostrarObjetosTienda.do</url-pattern>
    </servlet-mapping>

</web-app>